<form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title notes</label>
      <input type="text" class="form-control" id="title" name="title">
      
    </div>
    <div class="mb-3 d-flex flex-column">
      <label for="note" class="form-label">Your note</label>
      <textarea name="note" id="note" cols="100" rows="20"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>