<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form create a comment</h1>
    <form action="" method="post">
        <section>
            <label for="">username</label>
            <input type="text" name="username" id="" placeholder="username">
        </section>
        <section>
            <label for="">comment</label>
            <textarea name="text" id="" cols="30" rows="5"></textarea>
        </section>
        <button type="submit">submit</button>
        <a href="/comments">back</a>
    </form> 
</body>
</html>