body {
    background-color: rgb(15, 13, 13);
}
.bg-pink {
    color: rgb(248, 171, 184);
}
.new h3,
.trending-title h3 {
    color: gold;
}
.trending {
    max-width: 400px;
    
}
.cards {
    
    background-color: rgb(58, 57, 58);
    padding: 1rem;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 3px #FFF;
}
.card-img {
    height: 200px;
}
.card-me {
    width: 100%;
    margin: 0 1rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    border: none;
    background-color: rgb(58, 57, 58);

}
.card-images {
    width: 30px;
}
.card-images img{
    width: 30px;
}

.card-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.5rem;
    font-size: 0.4rem;


}

.title h3{
    font-size: 0.7rem;
}
.card-data .rating {
    display: flex;
    gap: 1rem;
}
.popular {
    margin-top: 2rem;
    color: gold;
}
.cards-container {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
}
.card-anime {
    position: relative;
    overflow: hidden;
  }
  
  .card-anime img {
    width: 150px;
    display: block;
  }
  
  .data-card {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 150px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transition: 0.8s;
  }
  
  .card-anime:hover .data-card {
    bottom: 0;
  }