
<div class="container">
    <div class="row">
        <img src="img/y1.jpg" alt="" class="img-thumbnail rounded-circle" width="200px">
        <div class="col text-center">
            <h1 class="display-4">samsul</h1>
            <p class="lead">Creator</p>
        </div>
    </div>
</div>


    